Body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    margin: 0px;
    padding: 10px;
    text-align: center;
    height: 200px;
    background-color: black;
    color: white;
}
header h1 {
    font-size: 70px;
}

#Resumo {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
#Resumo p::first-line {
    font-family:'Trebuchet MS';
    font-size: 50px;
    color:darkorange;
}
#Resumo p {
    margin: 70px 0px 10px 50px;
    float: left;
    font-size: 30px;
}

nav { 
    text-align: center;
    margin: 20px 0px 20px 0px;
}
nav a {
    height: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS';
    color: darkorange;
    margin: 10px 30px 10px 0px;
}
nav a:hover {
    color: blueviolet;
    background-color: rgb(214, 211, 211);
    border-bottom: 4px solid blueviolet;
}
nav a:active {
    color: blue;
    background-color: rgb(214, 211, 211);
    border-bottom: 4px solid  blue;
}
#aquiestou {
    border-bottom: 4px solid darkorange;
}
#aquiestou:hover {
    border-bottom: 4px solid blueviolet;
}
#aquiestou:active {
    border-bottom: 4px solid blue;
}